In [1]:
import pandas as pd
from dataaccess import data_access
from reminder import Reminder
from utilities import *

## categories

In [5]:
# data_access.add_category('health')

In [9]:
df_cat = data_access.read_category_table()
df_cat

      name
id
1    test1
3   health

In [ ]:
# data_access.rename_category('test2', 'test1')

In [3]:
# data_access.remove_category('test4')

In [23]:
cat_id_health = data_access.get_category_id('health')
cat_id_health

int

## reminders

In [7]:
data_access.read_reminder_table()

    category_id             content up_when
id
1             1  testing reminder 1

### add a reminder

In [4]:
rem = Reminder()
rem.category_id = 1
rem.content = 'testing reminder 1'
rem.up_when = ''
rem

Reminder
  id: None
  category_id: 1
  content: "testing reminder 1"
  up_when: ""

In [5]:
# data_access.add_reminder(rem)

### modify a reminder

In [27]:
df_rems = data_access.read_reminder_table()
df_rems

    category_id             content                             up_when
id
1             3  testing reminder 1  {"dates": "D",\n "times": "12:00"}

In [26]:
rem = get_reminder_from_dataframe(df_rems, 1)
rem.category_id = cat_id_health
rem.up_when = 'D;'

data_access.update_reminder(rem)

### remove a reminder

In [3]:
# data_access.remove_reminder(5)