In [1]:
import pandas as pd
from dataaccess import data_access
from utilities import *

from reminder import Reminder

from hrmin import HrMin
from moment import Moment
from period import Period
from act_time_model import ActTimeModel

## categories

In [5]:
# data_access.add_category('health')

In [2]:
df_cat = data_access.read_category_table()
df_cat

      name
id
1    test1
3   health

In [ ]:
# data_access.rename_category('test2', 'test1')

In [3]:
# data_access.remove_category('test4')

In [3]:
cat_id_health = data_access.get_category_id('health')
cat_id_health

3

## scenes

In [6]:
data_access.add_scene('睡前')

3

In [7]:
df_scene = data_access.read_scene_table()
df_scene

          name
id
1   test scene
2           起床
3           睡前

## occasions

In [4]:
df_occasion = data_access.read_occasion_table()
df_occasion

               name
id
1   test occasion 1

In [3]:
# data_access.rename_occasion('test occasion', 'test occasion 1')

## reminders

In [7]:
data_access.read_reminder_table()

    category_id             content up_when
id
1             1  testing reminder 1

### add a reminder

In [2]:
moments = [Moment.scene_moment(2), Moment.scene_moment(3)]
print(moments)

[scene 2, scene 3]

In [3]:
model = ActTimeModel.moments_model(moments)
model.to_json()

'{"moments": ["scene 2", "scene 3"]}'

In [9]:
rem = Reminder()
rem.category_id = 1
rem.content = '量體重'
rem.act_time_model = model

rem.to_dict()

{'category_id': 1,
 'content': '量體重',
 'act_time_model': '{"moments": ["scene 2", "scene 3"]}'}

In [5]:
# data_access.add_reminder(rem)

### modify a reminder

In [27]:
df_rems = data_access.read_reminder_table()
df_rems

    category_id             content                             up_when
id
1             3  testing reminder 1  {"dates": "D",\n "times": "12:00"}

In [26]:
rem = get_reminder_from_dataframe(df_rems, 1)
rem.category_id = cat_id_health
rem.up_when = 'D;'

data_access.update_reminder(rem)

### remove a reminder

In [3]:
# data_access.remove_reminder(5)